[submodule "libraries/appbase"]
	path = libraries/appbase
	url = ../appbase
[submodule "libraries/chainbase"]
	path = libraries/chainbase
	url = ../chainbase
[submodule "libraries/eos-vm"]
	path = libraries/eos-vm
	url = ../eos-vm
[submodule "libraries/softfloat"]
	path = libraries/softfloat
	url = ../berkeley-softfloat-3
[submodule "libraries/yubihsm"]
	path = libraries/yubihsm
	url = https://github.com/Yubico/yubihsm-shell
[submodule "tests/abieos"]
	path = tests/abieos
	url = ../abieos
[submodule "wasm-spec-tests"]
	path = wasm-spec-tests
	url = ../wasm-spec-tests
[submodule "libraries/fc"]
	path = libraries/fc
	url = ../fc
