*.a
*.sw*
*.dylib
*.ll
*.bc
*.wast
*.wast.hpp
*.dot
*.abi.hpp
*.ninja
\#*
\.#*
CMakeCache.txt
CMakeFiles
cmake-build-*/
Makefile
compile_commands.json
moc_*
*.moc

.cache

genesis.json
hardfork.hpp

libraries/utilities/git_revision.cpp
libraries/egenesis/egenesis_brief.cpp
libraries/egenesis/egenesis_full.cpp
libraries/egenesis/embed_genesis
libraries/types/type_generator
libraries/types/types_test
libraries/fc/test/crypto/test_cypher_suites
libraries/testing/chain_tester


libraries/wallet/Doxyfile
libraries/wallet/api_documentation.cpp
libraries/wallet/doxygen

libraries/wasm-jit/Source/Programs/Assemble
libraries/wasm-jit/Source/Programs/Disassemble
libraries/wasm-jit/Source/Programs/Test
libraries/wasm-jit/Source/Programs/wavm

programs/clio/clio
programs/js_operation_serializer/js_operation_serializer
programs/data-dir
programs/sysio-abigen/sysio-abigen
programs/clio/config.hpp
programs/sysio-applesedemo/sysio-applesedemo
programs/sysio-launcher/config.hpp
programs/sysio-launcher/sysio-launcher
programs/kiod/kiod
programs/nodeop/config.hpp
programs/nodeop/nodeop

scripts/tn_init.sh

tests/plugin_test
unittests/unit_test
tutorials/sig-em-tutorial/contracts

doxygen
wire.doxygen

wallet.json
witness_node_data_dir

*.wallet

*.pyc
*.pyo
*.pwd

*.gdb_history

Testing/*
build.tar.gz
[Bb]uild*/*
build**
deps/*
dependencies/*

etc/sysio/node_*
TestLogs*
.vscode
.idea/
*.iws
.DS_Store
CMakeLists.txt.user
.!*

!*.swagger.*

node_modules
package-lock.json

snapshots

find-eosio-wasm.sh
